div.container {
  margin-top: 50px;
  max-width: 800px;
  background-color: aquamarine;
  padding: 30px;
}
.data {
  background-color: rgb(185, 194, 239);
  line-height: 35px;
  font-size: small;
  border: 1px solid;
  border-color: rgb(185, 194, 239);
  padding: 20px;
  width: 240px;
  border-radius: 5px;
  color: whitesmoke;
  margin: 60px 90px;
}
#actual {
  text-align: center;
  margin-top: 30px;
  color: black;
}
.mainicon {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 70px;
  color: blueviolet;
}
#maintemp {
  text-align: center;
  color: black;
  font-size: large;
}

.predict {
  margin-top: 30px;
  text-align: center;
}
.icon {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: rgb(80, 80, 80);
}
.temp {
  display: block;
  text-align: center;
}
.col {
  background-color: blueviolet;
  margin: 20px;
  max-width: 200px;
}
#minTemp {
  display: inline;
}
#maxTemp {
  display: inline;
}
.small {
  margin: auto;
}
